<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Chat</title>
  </head>
  <body>
    <h1>Edit Chat</h1>
    <p>Edit the message below:<%= chat._id %></p>
    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
      <!-- <input type="hidden" name="_method" value="PUT" /> -->
      <label for="message">Message:</label>
      <textarea id="message" name="message"><%= chat.message %></textarea
      ><br /><br />
      <button type="submit">Update Chat</button>
    </form>
  </body>
</html>
