<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
    <link rel="stylesheet" href="/stylesheet.css" />
  </head>
  <body>
    <div class="new-chat-container">
      <h3>Create New Chat</h3>

      <form class="new-chat-form" method="post" action="/chats">
        <label>From</label>
        <input type="text" placeholder="Who are you?" name="from" required />
        <label>To</label>
        <input type="text" placeholder="Add receiver" name="to" required />
        <label>Message</label>
        <textarea name="message" placeholder="Write your message here..." required ></textarea>
        <div class="btn-group">
          <button type="submit" class="create-btn">Create Chat</button>
          <a href="/chats" class="cancel-btn">Cancel</a>
        </div>
      </form>
    </div>
  </body>
</html>
